In [16]:
import pandas as pd

In [17]:
# !pip install geopandas folium
import geopandas as gpd
import folium

In [18]:
import matplotlib.pyplot as plt
import seaborn as sns

## Weather Dataset

In [4]:
# Load weather data
weather_data = pd.read_csv('weather_Station_data.csv')

C:\Users\aneja\AppData\Local\Temp\ipykernel_39144\2641757085.py:2: DtypeWarning: Columns (17,21,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  weather_data = pd.read_csv('weather_Station_data.csv')

In [9]:
# update the column name 'Date/Time' to 'Date' to be consistent with other datasets
weather_data.rename(columns={'Date/Time': 'Date'}, inplace=True)

In [10]:
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11,2004,11,-0.2,NaN,-6.7,...,NaN,NaN,80.7,NaN,26.0,NaN,NaN,NaN,NaN,NaN
1,-61.68,56.55,NAIN,8502799,2004-12,2004,12,-9.7,NaN,-16.9,...,NaN,NaN,88.0,NaN,24.0,NaN,NaN,NaN,NaN,NaN
2,-61.68,56.55,NAIN,8502799,2005-01,2005,1,-18.4,NaN,-25.4,...,NaN,NaN,42.5,NaN,18.0,NaN,NaN,NaN,NaN,NaN
3,-61.68,56.55,NAIN,8502799,2005-02,2005,2,-8.9,NaN,-19.8,...,NaN,NaN,119.8,NaN,51.0,NaN,NaN,NaN,NaN,NaN
4,-61.68,56.55,NAIN,8502799,2005-03,2005,3,-5.2,NaN,-14.5,...,NaN,NaN,145.8,NaN,45.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,NaN,NaN,NaN,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [11]:
weather_data['Date'] = pd.to_datetime(weather_data['Date'])

In [12]:
# Calculate monthly means for 'Mean Max Temp (°C)' and 'Mean Min Temp (°C)'
monthly_means = weather_data.groupby(['Month'])[['Mean Max Temp (°C)', 'Mean Min Temp (°C)']].mean()

# Use these means to fill missing values
weather_data['Mean Max Temp (°C)'] = weather_data['Mean Max Temp (°C)'].fillna(weather_data['Month'].map(monthly_means['Mean Max Temp (°C)']))
weather_data['Mean Min Temp (°C)'] = weather_data['Mean Min Temp (°C)'].fillna(weather_data['Month'].map(monthly_means['Mean Min Temp (°C)']))

In [13]:
columns_to_fill_zero = ['Total Snow (cm)', 'Total Precip (mm)', 'Snow Grnd Last Day (cm)', 'Dir of Max Gust (10\'s deg)', 'Spd of Max Gust (km/h)']
weather_data[columns_to_fill_zero] = weather_data[columns_to_fill_zero].fillna(0)

In [14]:
weather_data

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Year,Month,Mean Max Temp (°C),Mean Max Temp Flag,Mean Min Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow Grnd Last Day (cm),Snow Grnd Last Day Flag,Dir of Max Gust (10's deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-61.68,56.55,NAIN,8502799,2004-11-01,2004,11,-0.2,NaN,-6.7,...,0.0,NaN,80.7,NaN,26.0,NaN,0.0,NaN,0.0,NaN
1,-61.68,56.55,NAIN,8502799,2004-12-01,2004,12,-9.7,NaN,-16.9,...,0.0,NaN,88.0,NaN,24.0,NaN,0.0,NaN,0.0,NaN
2,-61.68,56.55,NAIN,8502799,2005-01-01,2005,1,-18.4,NaN,-25.4,...,0.0,NaN,42.5,NaN,18.0,NaN,0.0,NaN,0.0,NaN
3,-61.68,56.55,NAIN,8502799,2005-02-01,2005,2,-8.9,NaN,-19.8,...,0.0,NaN,119.8,NaN,51.0,NaN,0.0,NaN,0.0,NaN
4,-61.68,56.55,NAIN,8502799,2005-03-01,2005,3,-5.2,NaN,-14.5,...,0.0,NaN,145.8,NaN,45.0,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67705,-123.74,48.94,CHEMAINUS,1011500,2006-10-01,2006,10,14.8,NaN,7.5,...,0.0,NaN,37.2,NaN,0.0,NaN,0.0,NaN,0.0,NaN
67706,-123.74,48.94,CHEMAINUS,1011500,2006-11-01,2006,11,8.0,NaN,3.3,...,54.1,NaN,422.9,NaN,40.0,NaN,0.0,NaN,0.0,NaN
67707,-123.74,48.94,CHEMAINUS,1011500,2006-12-01,2006,12,6.5,NaN,2.3,...,6.7,NaN,291.3,NaN,0.0,NaN,0.0,NaN,0.0,NaN
67708,-123.74,48.94,CHEMAINUS,1011500,2007-01-01,2007,1,6.3,NaN,1.0,...,17.0,NaN,274.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
67709,-123.74,48.94,CHEMAINUS,1011500,2007-02-01,2007,2,8.4,NaN,3.3,...,6.0,NaN,118.4,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [15]:
weather_data.isnull().sum()

Longitude (x)                     0
Latitude (y)                      0
Station Name                      0
Climate ID                        0
Date                              0
Year                              0
Month                             0
Mean Max Temp (°C)                0
Mean Max Temp Flag            50563
Mean Min Temp (°C)                0
Mean Min Temp Flag            50772
Mean Temp (°C)                 6522
Mean Temp Flag                47344
Extr Max Temp (°C)             6394
Extr Max Temp Flag            51671
Extr Min Temp (°C)             6411
Extr Min Temp Flag            50843
Total Rain (mm)               14212
Total Rain Flag               57050
Total Snow (cm)                   0
Total Snow Flag               58132
Total Precip (mm)                 0
Total Precip Flag             53869
Snow Grnd Last Day (cm)           0
Snow Grnd Last Day Flag       64191
Dir of Max Gust (10's deg)        0
Dir of Max Gust Flag          66133
Spd of Max Gust (km/h)            0
Spd of Max Gust Flag          66134
dtype: int64